* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
  font-weight: initial;
  background-color: #ddd;
  background-image: radial-gradient(#666, white);
}

.btn {
  background: #ff9800;
  border: #e8d426;
  color: black;
  margin: 5vh;
}

.btn:hover {
  background: #ffc340;
  border: #e8d426;
  color: black;
}

#carousel {
  height: 70vh;
  width: 80%;
  text-align: center;
  margin: 5vh;
}

#carousel-text {
  background: rgba(255, 195, 64, 0.7);
  height: 15vh;
  width: 50%;
  position: absolute;
  top: 45vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img-cont {
  height: 100%;
  width: 100%;
  border-radius: 0.3em;
}

.carousel-img-cont img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

#carousel-obj {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 50px 10px #454546;

}

#services-card-img {
  border-radius: 0.8em;
}

#homePage {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.photos {
  display: flex;
  justify-content: center;
  text-align: center;
}

.carrusel > h1 {
  margin-top: 40vh;
}

.aboutUs {
  background-color: #8c8c8c;
  text-align: center;
}

.aboutUs p, .contact p {
  text-align: center;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 0px 20px 0px #454546;
  background-color: #ddd;
}

.aboutUs button {
  margin-top: 2em;
}

.aboutUs img, .contact img {
  border-radius: 10px;
  box-shadow: 0px 10px 50px 10px #454546;
}

.home-services {
  text-align: center;
}

.title-container {
  display: block;
  color: #ddd;
  margin: 30px;
  margin-bottom: 50px;
}

.title-jorge {
  background-color: #313131;
  box-shadow: 0px 10px 30px 5px #454546;
  border-radius: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.subtitle {
  background-color: #5c5c5c;
  box-shadow: 0px 10px 30px 5px #454546;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 10px;
  max-width: 70%;
}

.home-services-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  margin-top: 1em;
}

.home-services button {
  margin-top: 2em;
}

#home-services-tarjeta {
  padding-top: 15px;
  background: #8c8c8c;
  box-shadow: 0px 10px 30px 5px #454546;
  border-radius: 10px;
  margin: 1em;
  max-width: 425px;
}

#home-services-tarjeta img {
  height: 55%;
}

.contact {
  background-color: #8c8c8c;
  text-align: center;
}

.contact img {
  margin-top: 1em;
  height: 30em;
}

.contact h3 {
  text-align: justify;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
}

.contact button {
  margin-top: 2em;
}

.services {
  text-align: center;
  height: auto;
}

.services-subtitle {
  text-align: center;
  margin-left: 4em;
  margin-right: 4em;
}

.services-box {
  height: 50vh;
  background-color: #aaa;
  box-shadow: 0px 10px 30px 5px #454546;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.services-box > img {
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  width: 100%;
  height: 70%;
}

#service-info {
  background-color: #ddd;
  box-shadow: 0px 10px 30px 5px #454546;
  border-radius: 20px;
  margin: auto;
  margin-left: 4em;
  margin-right: 4em;
  text-align: left;
  width: 40%;
  padding: 10%;
}

.service-info h1 {
  margin-top: 50%;
}

#service-img-background {
  width: 60%;
  padding: 5%;
  background: #ff9800;
}

#service-img-background img {
  height: 100%;
  width: 100%;
}

#service-budget-button {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
}

.home-button {
  background-color: #ff9800;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#login-body {
  background: #8c8c8c;
}

#login-container {
  background: #8c8c8c;
  font-family: "Muli", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 1em;
  padding-top: 30vh;
}

.form-control:focus {
  color: #000;
  background-color: #fff;
  border: 0.2em solid black;
  outline: 0;
  box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .aboutUs img {
    max-width: 45%;
    height: 40vh;
  }

  #home-services-button {
    margin-top: 2em;
  }

  .services-tile {
    height: auto;
    padding: 1em;
  }

  .services-box {
    height: 50vh;
    margin: 1em;
  }

  #service {
    display: flex;
    text-align: center;
    height: 100vh;
  }

  #succesfully {
    margin: 20vh 14em 0em 14em;
    padding: 0.2em;
    background: #ffc340;
    border-radius: 0.2em;
    text-align: center;
    text-align: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .carrusel {
    height: 90vh;
    border: 3px solid #555;
    margin: 5vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .aboutUs img {
    max-width: 45%;
    height: 40vh;
  }

  #home-services-tarjeta {
    margin-top: 1em;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
  }

  #home-services-button {
    margin-top: 2em;
  }

  #home-services-tarjeta img {
    height: 60%;
  }

  .home-box {
    height: 35vh;
    background-color: #8c8c8c;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .home-box > img {
    width: 100%;
    height: 70%;
    margin-top: 0.8em;
  }

  #service {
    display: flex;
    background-color: #8c8c8c;
    text-align: center;
    height: 100vh;
  }

  .contact img {
    height: 20em;
  }

  #succesfully {
    margin: 20vh 14em 0em 14em;
    padding: 0.2em;
    background: #ffc340;
    border-radius: 0.2em;
    text-align: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .carrusel {
    height: 90vh;
    border: 3px solid #555;
    margin: 5vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #carousel-text {
    top: 50vh;
    height: 30vh;
  }

  .aboutUs img {
    max-width: 45%;
    height: 40vh;
  }

  #home-services-tarjeta {
    padding-top: 15px;
    margin-bottom: 0.6em;
    margin-left: 20px;
    margin-right: 20px;
  }

  #home-services-tarjeta img {
    height: 60%;
  }

  #home-services-button {
    margin-top: 1.6em;
  }

  #service {
    display: flex;
    background-color: #8c8c8c;
    text-align: center;
    height: 100vh;
  }

  .contact img {
    height: 20em;
  }

  #succesfully {
    margin: 20vh 8em 0em 8em;
    padding: 0.2em;
    background: #ffc340;
    border-radius: 0.2em;
    text-align: center;
    text-align: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .carrusel {
    height: 90vh;
    border: 3px solid #555;
    margin: 5vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #carousel-text {
    top: 50vh;
    height: 30vh;
  }

  .aboutUs img {
    max-width: 45%;
    height: 40vh;
  }

  #home-services-tarjeta {
    padding-top: 15px;
    margin-bottom: 0.4em;
    margin-left: 20px;
    margin-right: 20px;
    height: 50vh;
  }

  #home-services-tarjeta img {
    height: 60%;
  }
  #home-services-button {
    margin-top: 1.6em;
  }

  #service {
    display: flex;
    background-color: #8c8c8c;
    text-align: center;
    height: 100vh;
  }

  .contact img {
    height: 18em;
  }

  #succesfully {
    margin: 20vh 8em 0em 8em;
    padding: 0.2em;
    background: #ffc340;
    border-radius: 0.2em;
    text-align: center;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .carrusel {
    height: 90vh;
    border: 3px solid #555;
    margin: 5vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #carousel-text {
    top: 50vh;
    height: 30vh;
  }

  .aboutUs h1 {
    margin-top: 1em;
    margin-bottom: 0.6em;
  }

  .aboutUs h3 {
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  .aboutUs button {
    margin-top: 1em;
  }

  .aboutUs img {
    max-width: 45%;
    height: 40vh;
  }

  .home-services h1 {
    margin-top: 1em;
    margin-bottom: 0.6em;
  }

  #home-services-tarjeta {
    margin: 0.4em 0em 0.4em 0em;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #home-services-tarjeta img {
    height: 60%;
  }

  #home-services-button {
    margin-top: 1.6em;
  }

  .contact h3 {
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  #service {
    background-color: #666666;
    text-align: center;
    height: 100vh;
  }

  #service-info {
    text-align: left;
    width: 100%;
    padding: 10%;
    height: 50vh;
  }

  .service-info h1 {
    margin-top: 30%;
  }

  #service-img-background {
    width: 100%;
    padding: 5%;
    background: #ff9800;
    height: 50vh;
  }

  .contact img {
    height: 15em;
  }

  #succesfully {
    margin: 20vh 6em 0em 6em;
    padding: 0.2em;
    background: #ffc340;
    border-radius: 0.2em;
    text-align: center;
    text-align: center;
  }
}
